:root{
    --dark: #1F2937;
    --white: #F9FAF8;
    --grey: #E5E7EB;
    --light-blue: #3882F6;
    --pad: 100px;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}


/* HEADER AND WEBSITE DESCRIPTION*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px var(--pad) 0;
    background: var(--dark);
}

.logo {
    display: flex;
    color: var(--white);
    font-size: 24px;
    font-weight: bold;
    max-width: 40px;
    background: var(--white);
    padding: 3px;
    border-radius: 15%;
}


.description {
    display: flex;
    padding: var(--pad);
    align-items: center;
    background: var(--dark);
    gap: 10px;
}

.text {
    flex-shrink: 2;
    flex-grow: 1;
    width: 300px;
}

.description h1 {
    color: var(--white);
    font-size: 48px;
    font-weight: extra-bold;

}

.description p {
    color: var(--grey);
    font-size: 18px;
}

.description .image {
    flex-shrink: 1;
    flex-grow: 1;
    width:200px;
    height: auto;
}

img {
    max-width: 100%;
}
.links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}


a {
    text-decoration: none;
    color: var(--grey);
    font-size: 18px;
}

button {
    background: var(--light-blue);
    padding: 2px 20px;
    border-radius: 1.5mm;
    border-style: none;
    color: var(--white);
    font-size: 18px;
}

/* INFORMATION */
.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}

.title {
    font-size: 36px;
    color: var(--dark);
    font-weight: 900;
    padding: 30px;

}

.container {
    display: flex; 
    gap: 40px;
    flex-wrap: wrap;
}

.info {
    display: flex;
    flex-direction: column;
    width:200px;
    gap: 10px;
}

.info img {
    border-width: 2px;
    border-style: solid;
    border-color: var(--light-blue);
    border-radius: 15%;
    flex-shrink: 0;
}

.img-desc {
    text-align: center;
    color: var(--dark);
}

/* QUOTE */
.quote-container {
    display:flex;
    background-color: var(--grey);
    flex-direction: column;
    padding: 80px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: var(--dark);
    max-width: 600px;
}

.author {
    font-weight: 900;
    color: var(--dark);
    text-align: end;
    
}

/* FOOTER */

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--dark);
    color: var(--grey);
    padding: 25px;
}

